@charset "utf-8";
/* CSS Document */
.sg{
	font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif; float: left; 
	border-left: 1px solid #606d84; color: #6a778d; font-style: italic; margin:0px;
	}
.a{
	background:#9C0}
